{%- extends "search/base.html" %}
{% import "search/search-macros.html" as search_macros %}
{% set pagetitle %}Advanced arXiv search{% endset %}

{% macro select_field(field) %}
  <div class="form-check">
    {{ field(class='form-check-input')|safe }}
    {{ field.label(class='form-check-label') }}
  </div>
  {% if field.errors %}
    <div class="alert alert-danger">
      {% for error in field.errors %}
          {{ error }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}


{% macro advanced_query(form) %}
  {% if form.errors %}
  <div class="alert alert-danger">
    Whoops! Something went wrong. Please correct errors in the form below.
  </div>
  {% endif %}

  <form class="arxiv-search-form mx-auto" method="GET" action="{{ url_for('ui.advanced_search') }}">
    <h3 class="col w-100 d-flex justify-content-center mb-3"><label for="advanced" class="form-label">Advanced Search:</label></h3>
    <hr>
    {{ form.advanced|safe }}
    <fieldset>
      <legend class="legend">Search Terms</legend>
      <div data-toggle="fieldset" id="terms-fieldset">
        {% for entry in form.terms.entries %}
        <div class="input-group search-terms-row" data-toggle="fieldset-entry">

          <label for="terms-{{loop.index0}}-operator" class="visually-hidden">Boolean operator</label>
          {{ entry.operator(default='AND', class="form-select boolean-select")|safe }}

          <label for="terms-{{loop.index0}}-term" class="visually-hidden">Search term</label>
          {% if entry.term.errors %}
            {{ entry.term(class='form-control alert-danger', placeholder="Search term...")|safe }}
          {% else %}
            {{ entry.term(class='form-control', placeholder="Search term...")|safe }}
          {% endif %}

          {% if entry.term.errors %}
            <div class="alert alert-danger">
              {% for error in entry.term.errors %}
                  {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          <label for="terms-{{loop.index0}}-field" class="visually-hidden">Field to search</label>
          {{ entry.field(default='title', class='form-select')|safe }}

          <button type="button"
            data-toggle="fieldset-remove-row"
            id="term-{{loop.index0}}-remove"
            class="btn btn-outline-secondary"
            aria-label="Remove this search term">
            <svg width="20" height="20" fill="currentColor" role="presentation">
              <use xlink:href="{{ url_for('base.static', filename='bootstrap/bootstrap-icons.svg') }}#x"/>
            </svg>
          </button>
        </div><!-- end input group -->
        {% endfor %}

        <div class="row justify-content-end g-1 mr-5 align-items-center">
          <div class="col-auto">
            <button type="button" class="btn btn-outline-primary"
              data-toggle="fieldset-add-row"
              data-target="#terms-fieldset">Add another term +
            </button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary btn-lg">Search</button>
          </div>
        </div>
      </div>
    </fieldset>


  <hr>


    <fieldset class="fieldset {% if form.classification.errors %}alert-warning{% endif %}">
      <legend class="legend">Subjects</legend>
      {% if form.classification.errors %}
        {% for field_name, field_errors in form.classification.errors|dictsort %}
          {% for error in field_errors %}
            <div class="alert alert-warning">
              {{ error }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <div class="text-note">All classifications will be included by default.</div>

      <div class="row">
        <div class="col">
          {{ select_field(form.classification.computer_science) }}
          {{ select_field(form.classification.economics) }}
          {{ select_field(form.classification.eess) }}
          {{ select_field(form.classification.mathematics) }}
        </div>
        <div class="col">
          <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-auto">
              <div class="form-check">
                {# Physics is odd, since we allow archive selection as well. #}
                {{ form.classification.physics(class='form-check-input')|safe }}
                {{ form.classification.physics.label(class='form-check-label') }}
              </div>
            </div>
            <div class="col-auto">
              <label for="classification-physics_archives" class="visually-hidden">Subtopic within physics</label>
              {{ form.classification.physics_archives(class="form-select rounded-1 p-0 ps-2")|safe }}
            </div>
          </div>
          {% if form.classification.physics.errors %}
          <div class="alert alert-warning">
            {% for error in form.classification.physics.errors %}
              {{ error }}
            {% endfor %}
          </div>
          {% endif %}
          {% if form.classification.physics_archives.errors %}
            <div class="alert alert-warning">
              {% for error in form.classification.physics_archives.errors %}
                  {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          <script>
            $('select#classification-physics_archives').change(function() {
              $('input#classification-physics').attr('checked', true);
            });
          </script>

          {{ select_field(form.classification.q_biology) }}
          {{ select_field(form.classification.q_finance) }}
          {{ select_field(form.classification.statistics) }}
        </div>
      </div>


      <div class="row g3 mt-3 align-items-center">
        {% for subfield in form.classification.include_cross_list %}
        <div class="col-auto">
          <div class="form-check">
            {{ subfield(class="form-check-input")|safe }}
            {{ subfield.label.text }}
          </div>
        </div>
        {% endfor %}
      </div>
    </fieldset>


  <hr>


    <fieldset class="fieldset {% if form.date.errors %}alert-danger{% endif %}">
      <legend class="legend">Dates</legend>

      {% if form.date.filter_by.errors %}
        <div class="alert alert-danger">
          {% for error in form.date.filter_by.errors %}
              {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      <div class="row g-3 mt-3 align-items-center">
        {% for field in form.date.filter_by %}
          <div class="{% if field.data == 'past_12' %}col-10{% else %}col-auto{% endif %}">
            <div class="form-check">
              {# label tags are added by wtforms #}
              {{ field(class="form-check-input")|safe }}
              {{ field.label(class="form-check-label") }}
            </div>
          </div>

          {# TODO: the JS bits here should be re-implemented elsewhere #}
          {% if field.data == 'specific_year' %}
          <div class="col-10 gx-0">
            <label for="date-year" class="visually-hidden">Enter four digit year</label>
            {% if form.date.year.errors %}
              {{ form.date.year(placeholder="YYYY", class="form-control alert-danger rounded-1 p-1 w-auto")|safe }}
            {% else %}
              {{ form.date.year(placeholder="YYYY", class="form-control rounded-1 p-1 w-auto")|safe }}
            {% endif %}
            <script>
              $('#date-year').focus(function() {
                $('input[name="date-filter_by"]').attr('checked', false);
                $('input[value="specific_year"]').attr('checked', true);
              });
            </script>
          </div>

            {% if form.date.year.errors %}
            <div class="alert alert-warning">
              {% for error in form.date.year.errors %}
              {{ error }}
              {% endfor %}
            </div>
            {% endif %}

          {% endif %}

        {% endfor %}


        <div class="col-auto">
          <div class="input-group input-group-sm">
            {{ form.date.from_date.label(class="input-group-text") }}
            {% if form.date.from_date.errors %}
            {{ form.date.from_date(placeholder="YYYY[-MM[-DD]]", class="form-control alert-danger")|safe }}
            {% else %}
            {{ form.date.from_date(placeholder="YYYY[-MM[-DD]]", class="form-control")|safe }}
            {% endif %}

            {% if form.date.from_date.errors %}
            <div class="alert alert-warning">
              {% for error in form.date.from_date.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}

            {{ form.date.to_date.label(class="input-group-text") }}
            {% if form.date.to_date.errors %}
            {{ form.date.to_date(placeholder="YYYY[-MM[-DD]]", class="form-control alert-danger rounded-end")|safe }}
            {% else %}
            {{ form.date.to_date(placeholder="YYYY[-MM[-DD]]", class="form-control rounded-end")|safe }}
            {% endif %}

            {% if form.date.to_date.errors %}
            <div class="alert alert-warning">
              {% for error in form.date.to_date.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>



      <div class="text-note">
        When limiting by date range, the lower bound of the "from" date
        and the upper bound of the "to" date are used.<br/>For example,
        searching with <code>From: 2012-02</code> and <code>To: 2013</code>
        will search for papers submitted from
        <code>2012-02-01</code> to <code>2013-12-31</code>.
      </div>

      <script>
        $('#date-to_date').focus(function() {
          $('input[name="date-filter_by"]').attr('checked', false);
          $('input[value="date_range"]').attr('checked', true);
        });
        $('#date-from_date').focus(function() {
          $('input[name="date-filter_by"]').attr('checked', false);
          $('input[value="date_range"]').attr('checked', true);
        });
      </script>


      <div class="row g3 mt-3 align-items-center">
        {% for subfield in form.date.date_type %}
        <div class="col-auto">
          <div class="form-check">
            {{ subfield(class="form-check-input")|safe }}
            {{ subfield.label.text }}
          </div>
        </div>
        {% endfor %}
      </div>
    </fieldset>



  <hr>



    <fieldset>

      <div class="row gx-5 mt-3 align-items-center">

        <div class="col-auto"><div class="input-group">
        {% for subfield in form.abstracts %}
          <div class="form-check me-3">
            {{ subfield(class="form-check-input")|safe }}
            {{ subfield.label.text }}
          </div>
        {% endfor %}
        </div></div>

        <div class="col-auto"><div class="input-group">
          {{ form.size(class="form-select rounded-1 pt-0 pb-0 me-2")|safe }}
          {{ form.size.label }}
        </div></div>

        <div class="col-auto">
          <div class="form-check">
          {{ form.include_older_versions(class="form-check-input")|safe }}
          {{ form.include_older_versions.label(class="form-check-label") }}
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-lg my-2">Search</button>
    </fieldset>

    <input type="hidden" name="order" value="{{ form.order.data }}">
  </form>
{%- endmacro -%}

{% block alerts %}
  {% if not show_form and results %}
    <!-- Showing {{ metadata.start + 1 }}&ndash;{{ metadata.end }} of {{ '{0:,}'.format(metadata.total_results) }} results -->
  {% elif show_form %}

  {% else %}
    <div class="alert alert-warning">Sorry, your query returned no results</div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if show_form %}
    <!-- {% if query %}
    <a href="{{ url_with_params("ui.search", {}, {"order": query.order, "size": query.size}) }}">Simple Searchhh</a>
    {% else %}
    <a href="{{ url_with_params("ui.search", {}, {"order": form.order.data, "size": form.size.data }) }}">Simple Searchh</a>
    {% endif %} -->
    {{ advanced_query(form) }}
  {% else %}

    {% if has_classic_format %}
      {{ search_macros.show_classic_author_search() }}
    {% endif %}
          <!-- Query: <a href="{{ current_url_sans_parameters('advanced') }}">{{ query|display_query }}</a>
          {% if query %}
          <a href="{{ url_with_params("ui.search", {}, {"order": query.order, "size": query.size}) }}">Simple Search</a>
          {% else %}
          <a href="{{ url_with_params("ui.search", {}, {"order": form.order.data, "size": form.size.data }) }}">Simple Search</a>
          {% endif %} -->
    {% if results %}
      <div class="row align-items-center">
        <div class="col-auto"><h2>{{ '{0:,}'.format(metadata.total_results) }} results found</h2></div>
        <div class="col new-search-options"><a class="btn btn-outline-secondary btn-tiny" href="{{ current_url_sans_parameters('advanced') }}">Refine query</a>
        <a class="btn btn-outline-secondary btn-tiny" href="{{ url_for('ui.advanced_search') }}">New search</a></div>
      </div>
      {{ search_macros.search_results(form, results, metadata, url_for_page, url_for_author_search, is_current, query.hide_abstracts) }}
    {% endif %}
  {% endif %}
{% endblock content %}
