{% macro size_and_order(form, action_uri) %}
<form method="GET" action="{{ action_uri }}">
  <div style="display: none;">
    {% for field in form %}
      {% if field != form.size and field != form.order %}
        {{ field }}
      {% endif %}
    {% endfor %}
  </div>

  <!-- {{ form.size|safe }}
  {{ form.size.label }} -->

  <div class="input-group">
    <label class="input-group-text" for="order">Sort by</label>
    {{ form.order(class="form-select")|safe }}
    <button class="btn btn-primary">Go</button>
  </div>
  <!-- {{ form.order.label }} -->
</form>
{%- endmacro -%}

{% macro pagination(metadata, url_for_page) -%}
<nav aria-label="Search results pagination">
  <ul class="pagination justify-content-center">
    {% if metadata.current_page > 1 %}
    <li class="page-item prev">
      <a class="page-link" href="{{ url_for_page(metadata.current_page - 1, metadata.size) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item prev disabled"><span class="page-link" tabindex="-1" aria-disabled="true">&laquo;</span></li>
    {% endif %}

    <li class="page-item">
      <a href="{{ url_for_page(1, metadata.size) }}"
        class="page-link {% if metadata.current_page == 1 %}active{% endif %} hovicon effect-8"
        aria-label="Goto page 1">1
      </a>
    </li>

    {% if metadata.total_pages < 8 %}
      {% for p in range(2, metadata.total_pages + 1) %}
      <li class="page-item">
        <a href="{{ url_for_page(p, metadata.size) }}"
          class="page-link {% if metadata.current_page == p %}active{% endif %} hovicon effect-8"
          aria-label="Page {{ p }}"
          aria-current="page">{{ p }}
        </a>
      </li>
      {% endfor %}
    {% else %}
      {% if metadata.current_page <= 3 %}
        {% for p in range(2, 6) %}
        <li class="page-item">
          <a href="{{ url_for_page(p, metadata.size) }}"
            class="page-link {% if metadata.current_page == p %}active{% endif %} hovicon effect-8"
            aria-label="Page {{ p }}"
            aria-current="page">{{ p }}
          </a>
        </li>
        {% endfor %}
      {% elif (metadata.total_pages + 1 - metadata.current_page) <= 3 %}  {# Close to the end page #}
        {% for p in range(metadata.total_pages - 4, metadata.total_pages + 1) %}
        <li class="page-item">
          <a href="{{ url_for_page(p, metadata.size) }}"
            class="page-link {% if metadata.current_page == p %}active{% endif %} hovicon effect-8"
            aria-label="Page {{ p }}"
            aria-current="page">{{ p }}
          </a>
        </li>
        {% endfor %}
      {% else %}
        {% for p in range(metadata.current_page - 1, metadata.current_page + 2) %}
        {% if p <= metadata.max_pages %}
        <li class="page-item">
          <a href="{{ url_for_page(p, metadata.size) }}"
            class="page-link {% if metadata.current_page == p %}active{% endif %} hovicon effect-8"
            aria-label="Page {{ p }}"
            aria-current="page">{{ p }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if metadata.current_page < metadata.total_pages %}
      <li class="page-item next">
        <a class="page-link" href="{% if metadata.current_page + 1 <= metadata.max_pages %}{{ url_for_page(metadata.current_page + 1, metadata.size) }}{% endif %}" aria-label="Next" {% if metadata.current_page + 1 > metadata.max_pages %}disabled="true"{% endif %}>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item next disabled"><span class="page-link" tabindex="-1" aria-disabled="true">&raquo</span></li>
    {% endif %}
  </ul>
</nav>

  {% if metadata.current_page + 1 > metadata.max_pages %}
  <p class="alert alert-warning">
    Only {{ metadata.max_pages }} pages are available. Please refine your search.
  </p>
  {% endif %}
{%- endmacro %}


{% macro search_results(form, results, metadata, url_for_page, url_for_author_search, is_current, hide_abstracts) %}

<div class="row align-items-center arxiv-pagination">
  <div class="col results">
    Viewing <strong>{{ metadata.start + 1 }}&ndash;{{ metadata.end }}</strong> of {{ '{0:,}'.format(metadata.total_results) }} results
  </div>
  <div class="col paginate">
    {% if metadata.total_pages > 1 %}
      {{ pagination(metadata, url_for_page) }}
    {% endif %}
  </div>
  <div class="col filter">
    {{ size_and_order(form, url_for('ui.search')) }}
  </div>
</div>

<ol class="arxiv-results-list" start="{{ metadata.start + 1}}"> {# Start index is 0-based. #}
{% for result in results %}
  {%- set display_paper_id = result.paper_id if is_current(result) else result.paper_id_v -%}
    <li>
      <div class="row">
        <div class="col-auto paper-id">
          <a href="{{ url_for('abs_by_id', paper_id=display_paper_id) }}">arXiv:{{ display_paper_id }}</a>
        </div>
        <div class="col-auto paper-download">
          {{ paper_format_links(result, display_paper_id) }}
        </div>
        <div class="col paper-date">
          {{ result.announced_date_first.strftime('%B %Y') }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="paper-title mathjax">
            <a href="{{ url_for('abs_by_id', paper_id=display_paper_id) }}" style="display:block;">
            {% if result.highlight.title %}
              {{ result.highlight.title | safe }}
            {% else %}
              {{ result.title }}
            {% endif %}
            </a>
          </h3>
          <p class="paper-authors">
            {% for author in result.authors[0:25] %}
              {% if author %}<a href="{{ url_for_author_search(author.first_name, author.last_name) }}">{{ author.first_name }} {{ author.last_name }}{% if author.suffix %} {{ author.suffix }}{%- endif -%}</a>{{ ", " if not loop.last }}{% endif %}
            {% endfor -%}
            {% if result.authors | length > 25 %}, et al. ({{ result.authors | length - 25 }} additional authors not shown){% endif %}
          </p>
          {% if not hide_abstracts %}
          <p class="paper-abstract mathjax">
            <span id="{{result.id}}-abstract-short">
              {{ result.preview.abstract | safe }}
              {%if result.truncated.abstract %}
              <a class="paper-abstract-toggle" style="white-space: nowrap;" onclick="document.getElementById('{{result.id}}-abstract-full').style.display = 'inline'; document.getElementById('{{result.id}}-abstract-short').style.display = 'none';">
                More
                <svg width="20" height="20" fill="currentColor" role="presentation">
                  <use xlink:href="{{ url_for('base.static', filename='bootstrap/bootstrap-icons.svg') }}#caret-down-fill"/>
                </svg>
              </a>
              {% endif %}
            </span>
            <span id="{{result.id}}-abstract-full" style="display: none;">
              {% if result.highlight.abstract %}{{ result.highlight.abstract | safe }}{% else %}{{ result.abstract }}{% endif %}
              <a class="paper-abstract-toggle" style="white-space: nowrap;" onclick="document.getElementById('{{result.id}}-abstract-full').style.display = 'none'; document.getElementById('{{result.id}}-abstract-short').style.display = 'inline';">
                Less
                <svg width="20" height="20" fill="currentColor" role="presentation">
                  <use xlink:href="{{ url_for('base.static', filename='bootstrap/bootstrap-icons.svg') }}#caret-up-fill"/>
                </svg>
              </a>
            </span>
          </p>
          {% endif %}
        </div>
        <div class="col col-3 col-lg-2">
          <ul class="paper-category">
            <li>{{ result.primary_classification.category.id }}</li>
            {% if result.secondary_classification %}
              {% for secondary in result.secondary_classification %}
                <li>{{ secondary.category.id }}</li>
              {% endfor %}
            {% endif -%}
          </ul>
        </div>
      </div>

        <!-- <span class="tag is-small {% if result.match.primary_classification %}search-hit{% else %}is-link{% endif %} tooltip is-tooltip-top" data-tooltip="{{ result.primary_classification|category_name }}">{{ result.primary_classification.category.id }}</span>
        {% if result.secondary_classification %}
          {% for secondary in result.secondary_classification %}
            <span class="tag is-small {% if secondary.category.id in result.match.secondary_classification %}search-hit{% else %}is-grey{% endif %} tooltip is-tooltip-top" data-tooltip="{{secondary|category_name}}">{{ secondary.category.id }}</span>
          {% endfor %}
        {% endif -%} -->

      <!-- {% if result.doi %}
        {% for doi in result.doi %}
              <span class="tag is-dark is-size-7">doi</span>
              <span class="tag is-light is-size-7"><a class="" href="https://doi.org/{{ doi }}">{{ doi }} <i class="fa fa-external-link" aria-hidden="true"></i></a></span>
        {% endfor %}
      {% endif %} -->

    <!-- <p class="is-size-7"><span class="has-text-black-bis has-text-weight-semibold">Submitted</span> {{ result.submitted_date.strftime('%-d %B, %Y') }}; {% if result.version > 1 %}<span class="has-text-black-bis has-text-weight-semibold">v1</span> submitted {{ result.submitted_date_first.strftime('%-d %B, %Y') }};{% endif %}
      <span class="{% if result.match.announced_date_first %}search-hit{% else %}has-text-black-bis has-text-weight-semibold{% endif %}">originally announced</span> {{ result.announced_date_first.strftime('%B %Y') }}.
      {% if not is_current(result) %}<span class="has-text-weight-bold">Latest version:</span> <a href="{{ url_for('abstract_by_id', paper_id=result.latest) }}">{{ result.latest }}</a>.{% endif %}
    </p> -->

    <!-- {% if result.comments %}
    <p class="comments is-size-7">
      <span class="{% if result.match.comments %}search-hit{% else %}has-text-black-bis has-text-weight-semibold{% endif %}">Comments:</span>
      <span class="has-text-grey-dark mathjax">{% if result.highlight.comments %}{{ result.highlight.comments | safe }}{% else %}{{ result.comments }}{% endif %}</span>
    </p>
    {% endif %} -->

    <!-- {% if result.report_num or result.acm_class or result.msc_class %}
      <p class="comments is-size-7">
        {% if result.report_num %}
          <span class="{% if result.match.report_num %}search-hit{% else %}has-text-black-bis has-text-weight-semibold{% endif %}">Report number:</span>
          {% if result.highlight.report_num %}{{ result.highlight.report_num | safe }}{% else %}{{ result.report_num }}{% endif %}
        {% endif %}

        {% if result.msc_class %}
          <span class="{% if result.match.msc_class %}search-hit{% else %}has-text-black-bis has-text-weight-semibold{% endif %}">MSC Class:</span>
          {% if result.highlight.msc_class %}{{ result.highlight.msc_class | safe }} ({{ result.msc_class }}){% else %}{{ result.msc_class }}{% endif %}
        {% endif %}

        {% if result.acm_class %}
          <span class="{% if result.match.acm_class %}search-hit{% else %}has-text-black-bis has-text-weight-semibold{% endif %}">ACM Class:</span>
          {% if result.highlight.acm_class %}{{ result.highlight.acm_class | safe }} ({{ result.acm_class }}){% else %}{{ result.acm_class }}{% endif %}
        {% endif %}
      </p>
    {% endif %} -->

    <!-- {% if result.journal_ref %}
      <p class="comments is-size-7">
        <span class="{% if result.match.journal_ref %}search-hit{% else %}has-text-black-bis has-text-weight-semibold{% endif %}">Journal ref:</span>
        {% if result.highlight.journal_ref %}{{ result.highlight.journal_ref | safe }}{% else %}{{ result.journal_ref }}{% endif %}
      </p>
    {% endif %} -->
  </li>
{% endfor %}
</ol>

{% if metadata.total_pages > 1 %}
  {{ pagination(metadata, url_for_page) }}
{% endif %}

{%- endmacro -%}

{%- macro paper_format_links(result, display_paper_id) -%}
  {%- for format in result.formats -%}
    {%- if format in ('pdf', 'pdfonly', 'ps', 'other') -%}
      {% if loop.first %}[{% endif %}<a href="{{ url_for(format + '_by_id', paper_id=display_paper_id) }}">{{ format|replace("pdfonly", "pdf") }}</a>{% if not loop.last %}, {% else %}]{% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{% macro help_tips() %}
<div class="row g-5 row-cols-1 row-cols-sm-2">
  <div class="col border-sm-right">
    <h3>Searching by Author Name</h3>
    <ul>
      <li>Using the <strong>Author(s) field</strong> produces best results for author name searches.</li>
      <li>For the most precise name search, follow <strong>surname(s), forename(s)</strong> or <strong>surname(s), initial(s)</strong> pattern: example Hawking, S or Hawking, Stephen</li>
      <li>For best results on multiple author names, <strong>separate individuals with a ;</strong> (semicolon). Example: Jin, D S; Ye, J</li>
      <li>Author names enclosed in quotes will return only <strong>exact matches</strong>. For example, "Stephen Hawking" will not return matches for Stephen W. Hawking.</li>
      <li>Diacritic character variants are automatically searched in the Author(s) field.</li>
      <li>Queries with no punctuation will treat each term independently.</li>
    </ul>
    <h3>Searching by subcategory</h3>
    <ul>
      <li>To search within a subcategory select <strong>All fields</strong>.</li>
      <li>A subcategory search can be combined with an author or keyword search by clicking on <strong>add another term</strong> in advanced search.</li>
    </ul>
  </div>
  <div class="col">
    <h3>More search tips</h3>
    <h4>Wildcards:</h4>
      <ul>
       <li>Use ? to replace a single character or * to replace any number of characters.</li>
       <li>Can be used in any field, but not in the first character position. See Journal References tips for exceptions.</li>
      </ul>
    <h4>Expressions:</h4>
      <ul>
         <li>TeX expressions can be searched, enclosed in single $ characters.</li>
      </ul>
    <h4>Phrases:</h4>
      <ul>
        <li>Enclose phrases in double quotes for exact matches in title, abstract, and comments.</li>
      </ul>
    <h4>Dates:</h4>
      <ul>
        <li>Sorting by announcement date will use the year and month the <em>original version</em> (v1) of the paper was announced.</li>
        <li>Sorting by submission date will use the year, month and day the <em>latest version</em> of the paper was submitted.</li>
      </ul>
    <h4>Journal References:</h4>
      <ul>
        <li>If a journal reference search contains a wildcard, matches will be made using wildcard matching as expected. For example, <strong>math*</strong> will match <em>math</em>, <em>maths</em>, <em>mathematics</em>.</li>
        <li>If a journal reference search does <strong>not</strong> contain a wildcard, only exact phrases entered will be matched. For example, <strong>math</strong> would match <em>math</em> or <em>math and science</em> but not <em>maths</em> or <em>mathematics</em>.</li>
        <li>All journal reference searches that do not contain a wildcard are literal searches: a search for <strong>Physica A</strong> will match all papers with journal references containing <em>Physica A</em>, but a search for <strong>Physica A, 245 (1997) 181</strong> will only return the paper with journal reference <em>Physica A, 245 (1997) 181</em>.</li>
      </ul>
  </div>
</div>
{% endmacro %}

{% macro version_and_feedback() %}
<div class="row d-flex align-items-center justify-content-end p-1 g-1">
  <div class="col-auto"><a href="{{ config.RELEASE_NOTES_URL }}">{{ config.RELEASE_NOTES_TEXT }}</a>&nbsp;&nbsp;</div>
  <div class="col-auto"><button class="btn btn-secondary btn-tiny p-1" id="feedback-button">Feedback?</button></div>
</div>
{% endmacro %}

{% macro show_classic_author_search() -%}
  <article class="message is-warning">
    <div class="message-body">
      <p>For best results searching author names, use format <code>surname, initial</code> OR <code>surname, forename</code>. Separate individual authors with <code>;</code> semicolons.</p>
    </div>
  </article>
{%- endmacro %}
